{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2",
    ["es2015",{"loose": true}]
  ],
  "plugins": [
    "transform-runtime",
    "transform-regenerator",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ]
    }
  }
}
