<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./common/meta.html')%>

</head>
<body>
<%-include('./common/header-login.html')%>

<div class="container-1050 accountSafe-page">
  <h1 style="font-size: 18px;">账号安全</h1>
  <!--找回密码 -->
  <div class="mz-lookForWord-form">
    <h2 >重置密码</h2>
    <!--手机号-->
    <div class="form-group">
      <label>手机号码</label>
      <div class="mz-input account" data-error="只能输入11位手机号">
        <input  type="text" placeholder="请输入11位手机号码" maxlength="11">
      </div>
    </div>
    <!--验证码滑条-->
    <div class="verify">
      <input name="isVerify" hidden type="text" value="">
      <div id="verify_box">
        <div id="verify_xbox">
          <div id="btn">
            <img src="//www.jq22.com/demo/slideVerification201711082055/img/lllllll.png"/>
          </div>
        </div>
        按住滑块，拖动到最右边
      </div>
    </div>
    <div class="verify-success" style="display: none">
      <!--输入验证码-->
      <div class="from-group-code clearfix">
        <div class="mz-input code" data-error="">
          <input type="text" placeholder="输入验证码" maxlength="11">
        </div>
        <div class="mz-sendCode">发送验证码</div>
      </div>
      <!--输入密码-->
      <div class="form-group">
        <div class="mz-input password" data-error="只能输入11位手机号">
          <input type="password" placeholder="6-20位密码" maxlength="20">
          <span class="changeType open"></span>
        </div>
      </div>
    </div>
    <a class="mz-btn-register" href="javascript:;">完成</a>
  </div>
</div>
</body>
</html>
