<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('html-loader!./common/meta.html') %>
</head>
<body>
<%= require('html-loader!./common/header-login.html') %>
<div class="container-1050">
  <h1>账号安全</h1>
  <!--找回密码 -->
  <div class="mz-lookForWord-form hide">
    <h2>找回密码</h2>
    <!--手机号-->
    <div class="form-group">
      <div class="mz-input" data-error="只能输入11位手机号">
        <input type="text" placeholder="请输入11位手机号码" maxlength="11">
      </div>
    </div>
    <!--验证码滑条-->
    <!--<div></div>-->
    <!--输入验证码-->
    <div class="from-group-code clearfix">
      <div class="mz-input" data-error="只能输入11位手机号">
        <input type="text" placeholder="请输入11位手机号码" maxlength="11">
      </div>
      <div class="mz-sendCode">发送验证码</div>
    </div>
    <!--输入密码-->
    <div class="form-group">
      <div class="mz-input" data-error="只能输入11位手机号">
        <input type="text" placeholder="6-20位密码" maxlength="11">
      </div>
    </div>
    <a class="mz-btn-register" href="javascript:;">下一步</a>
  </div>
  <!--修改密码-->
  <div class="mz-changePassword-form ">
    <h2>修改密码</h2>
    <!--手机号-->
    <div class="form-group">
      <div class="mz-input" data-error="设置密码">
        <input type="password" placeholder="设置密码" maxlength="11">
      </div>
    </div>
    <!--输入密码-->
    <div class="form-group">
      <div class="mz-input" data-error="只能输入11位手机号">
        <input type="text" placeholder="6-20位密码" maxlength="11">
      </div>
    </div>
    <a class="mz-btn-register" href="javascript:;">完成</a>
  </div>

</div>
</body>
</html>
