<!DOCTYPE html>
<html lang="en">
<head>
<%-include('./common/meta.html',{title:'文章详情'})%>
<%-include('./common/polyfill.html')%>
</head>
<body>
<%-include('./common/header.html',{type:'article'})%>
<div class="main-container">
  <div class="article-wrap">
    <h1 class="article-title">习近平主席致2017年广州《财富》全球论坛的贺信引发热议）</h1>
    <div class="article-sub justify">
      <div class="article-date">2017-11-02</div>
      <div class="article-other">
        <span class="other-item">秒赞：<span class="num-detail article-like-num">544人</span></span>
        <span class="other-item">公益金：<span class="num-detail">45454M</span></span>
        <span>阅读量：<span class="num-detail">454545</span></span>
      </div>
    </div>
    <div class="article-detail">
<div class="gg200x300">
      <div class="at_item right_ad_item" adtype="rightAd" requesturl="https://nex.163.com/q?app=7BE0FC82&amp;c=news&amp;l=133&amp;site=netease&amp;affiliate=news&amp;cat=article&amp;type=logo300x250&amp;location=12"></div>
      <a href="javascript:;" target="_self" class="ad_hover_href"></a>
    </div><p>广药集团董事长李楚源对习主席贺信中提到的“中国经济具有长期向好的光明前景”深有体会。广州市把生物科技作为重点培育的战略性新兴产业之一，国家的政策是广药集团加快冲刺世界500强的坚强后盾和发展动力。</p><p>浩渺行无极，扬帆但信风。习主席致广州《财富》全球论坛的贺信，传递了新时代中国发展的政策取向，宣示了中方愿同各方推动构建人类命运共同体的真诚愿望。人们有理由相信，一个更加开放自信、积极创新的中国，将更加深入地融合到世界经济发展的浪潮中，为构建世界经济新格局贡献更大的力量。</p><p>（本报广州12月6日电??记者杨迅、罗艾桦、贺林平）</p>
    </div>
    <div class="article-share">

    </div>
    <div class="article-comment">
      <div class="comment-summary">
        全部留言(15353)
      </div>
      <div class="comment-list">
        <div class="comment-panel">
          <div class="comment-avatar">
              <img>
          </div>
          <div class="comment-detail">
            <h2 class="comment-nickname">小华</h2>
            <div class="comment-desc">
              Promise based HTTP client for the browser and node.js
            </div>
            <p class="comment-date">2017-10-25</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--轮播广告模板-->
<script type="text/template" id="ad-item-tpl">
  <div class="swiper-slide">
    <a href="<@=link@>" title="<@-name@>">
      <img src="<@=src@>">
    </a>
  </div>
</script>

</body>
</html>
