<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./common/meta.html',{title:'收银柜台'})%>
  <%-include('./common/polyfill.html')%>
</head>
<body>
<%-include('./common/header.html',{sale:true})%>
<div class="container-950" style="padding-bottom: 40px;">
    <div class="order-title"><span>支付订单</span></div>
    <div class="order-cart">
        <p>应用总额：<span>￥299.00</span></p>
        <p>购买商品总计：<span>1件</span></p>
        <div class="order-show clearfix">
          <ul>
            <li><img src="//img11.360buyimg.com/n7/jfs/t5935/195/2108753717/176060/c849dcb6/593a49a3Nf9c2a052.jpg" alt=""></li>
            <li><img src="//img11.360buyimg.com/n7/jfs/t5935/195/2108753717/176060/c849dcb6/593a49a3Nf9c2a052.jpg" alt=""></li>
          </ul>
        </div>
    </div>
    <div class="order-pay">
        <h1><span>选择一下支付方式付款</span></h1>
        <div class="payChose">
            <span class="wxPay active">微信支付</span>
            <span class="aliPay">支付宝支付</span>
        </div>
    </div>
</div>
</body>
</html>
