<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./common/meta.html',{title:'支付成功'})%>
  <%-include('./common/polyfill.html')%>
</head>
<body>
<%-include('./common/header.html',{sale:true})%>
<div class="container-1200" style="padding-bottom: 0;background: #fff">
   <div class="pay-order-info">
        <h1>支付成功</h1>
        <span>￥299.00</span>
        <div class="entry">
            <a href="">查看订单状态</a>
            <a href="">继续逛街</a>
        </div><br>
        <p>付款成功后，秒赞商城不会以付款异常、卡单、系统升级为由联系您。<a href="">请勿泄露银行卡号、手机验证码、否则会造成钱款损失。谨防电话诈骗！更多安全知识>></a></p>
   </div>
   <div class="pay-order-user-info">
      <p><span>收货信息：</span>
        <span>任冬冬 18862231233<br>江苏省苏州市吴中东长路88号</span>
      </p>
      <p>送货时间：预计周内发货</p>
   </div>
</div>
</body>
</html>
