<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./common/meta.html',{title:'热门商店'})%>
  <%-include('./common/polyfill.html')%>
</head>
<body>
<%-include('./common/header.html',{type:'mall'})%>
<%
var bread = [
{name:'首页',url:'www.baidu.com'},
{name:'秒购',url:'www.baidu.com'},
{name:'秒币商城',url:''}
]
%>
<%- include('./common/breadcrumb.html',{bread:bread})%>
<div class="container-950" style="padding-bottom: 45px;">
  <!--搜索模块-->
  <div class="qb-search">
    <div class="qb-search-content">
      <input type="text" placeholder="iphoneX">
      <span>搜索</span>
    </div>
    <div class="qb-search-history">
      <span>4K电视</span>
      <span>笔记本</span>
      <span>母婴用品</span>
      <span>路由器</span>
      <span>耳机</span>
      <span>有限鼠标</span>
      <span>无线鼠标</span>
      <span>显示器</span>
      <span>白酒</span>
      <span>海外面膜进口奶粉</span>
    </div>
  </div>
  <div class="qb-menu clearfix">
    <div class="qb-menu-slider">

    </div>
  </div>
</div>
<div style="width:100%;background: #e4e4e4;padding-top: 10px;">
  <div class="container-950" style="background: none">
    <div class="select-nav clearfix">
      <ul>
        <li>综合</li>
        <li>现金商品</li>
        <li>现金&秒币</li>
        <li>秒币商品</li>
        <li>价格</li>
      </ul>
    </div>
    <div class="select-content mall clearfix">
      <ul>
        <li>
          <a href="" class="goods-style-2">
            <div class="img-box"><img src="//i1.mifile.cn/a1/pms_1498624482.88089389!220x220.jpg" alt=""></div>
            <div class="content-box">
               <span class="title">飞利浦充电式刮胡刀</span>
               <p>飞利浦技术4D充电式水洗剃须刀电动岛</p>
               <span class="buy">
                  <b>M</b>1800000
                  <em>立即购买</em>
               </span>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="goods-style-2">
            <div class="img-box"><img src="//i1.mifile.cn/a1/pms_1498624482.88089389!220x220.jpg" alt=""></div>
            <div class="content-box">
              <span class="title">飞利浦充电式刮胡刀</span>
              <p>飞利浦技术4D充电式水洗剃须刀电动岛</p>
              <span class="buy">
                  <b>M</b>1800000
                  <em>立即购买</em>
               </span>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="goods-style-2">
            <div class="img-box"><img src="//i1.mifile.cn/a1/pms_1498624482.88089389!220x220.jpg" alt=""></div>
            <div class="content-box">
              <span class="title">飞利浦充电式刮胡刀</span>
              <p>飞利浦技术4D充电式水洗剃须刀电动岛</p>
              <span class="buy">
                  <b>M</b>1800000
                  <em>立即购买</em>
               </span>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="goods-style-2">
            <div class="img-box"><img src="//i1.mifile.cn/a1/pms_1498624482.88089389!220x220.jpg" alt=""></div>
            <div class="content-box">
              <span class="title">飞利浦充电式刮胡刀</span>
              <p>飞利浦技术4D充电式水洗剃须刀电动岛</p>
              <span class="buy">
                  <b>M</b>1800000
                  <em>立即购买</em>
               </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
