<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./common/meta.html',{title:'秒购商城'})%>
  <%-include('./common/polyfill.html')%>
</head>
<body>
<%-include('./common/header.html',{type:'mall'})%>
   <div class="container-950" style="padding-bottom: 0px;">
   <!--搜索模块-->
   <div class="qb-search">
       <div class="qb-search-content">
         <input type="text" placeholder="iphoneX">
         <span>搜索</span>
       </div>
       <div class="qb-search-history"></div>
   </div>
   <!--菜单模块-->
   <div class="qb-menu clearfix">
        <div class="qb-menu-detail">
          <div class="qb-menu-detail-hide">
            <ul>

            </ul>
          </div>
          <div class="qb-menu-detail-show">

          </div>
        </div>
        <div class="qb-menu-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper js-slider-cot"></div>
            <div class="pagination-ga"></div>
          </div>
        </div>
   </div>
   <!--推荐商品模块-->
   <div class="qb-recommend-goods clearfix">
      <!--幻灯-->
     <p class="title">
       <span>推荐商品</span>
       <b>与品质生活不期而遇</b>
       <span class="controlArrow">
          <i class="pre"></i>
          <em class="next"></em>
       </span>
     </p>
     <div class="qb-recommend-goods-content clearfix swiper-container">
       <div class="swiper-wrapper recommend-slider">

       </div>
     </div>
   </div>
   </div>
  <div style="width:100%;background: #f5f5f5;margin-top: 10px;padding-top: 10px;">
    <div class="container-950" style="background: none">
    <!--热门商品-->
    <div class="qb-hot-goods clearfix">
      <p class="title"><span>热门商品</span><b>与品质生活不期而遇</b><a href="hotGoods.html">更多></a></p>
      <div class="qb-hot-goods-box">
          <!--异步加载热门商品-->
      </div>
    </div>
    <!--秒币商品-->
    <div class="qb-store clearfix">
      <p class="title"><span>秒币商品</span><b>更多商品、更多品牌</b><a href="quickMall.html">更多></a></p>
      <div class="qb-store-box">
        <!--异步加载秒币商品-->
      </div>
    </div>
    </div>
  </div>
<!--渲染轮播图片-->
<script type="text/template" id="ad-item-tpl">
  <@ obj.length && _.each(obj,function(item,index){@>
    <div class="swiper-slide">
      <a href="goodsDetail.html?goods_id=<@- item.id@>" style="background:<@- item.bg_color@>"><img  src="<@- item.adv_code@>"></a>
    </div>
  <@})@>
</script>
<!--渲染热门商品图片-->
<script type="text/template" id="ad-hot-goods">
  <div class="qb-hot-goods-box-img">
    <@ if(obj.ads.length){@>
      <a href="goodsDetail.html?goods_id=<@- obj.ads[0].id@>">
        <img src="<@- obj.ads[0].adv_code@>" alt="">
      </a>
    <@}@>
  </div>
  <div class="qb-store-box-content">
    <ul>
      <@ obj.data && _.each(obj.data,function(item){@>
      <li>
        <a href="goodsDetail.html?goods_id=<@- item.id@>">
          <div class="img-box">
            <img src="<@- item.goods_img@>" alt="">
          </div>
          <p><@- item.goods_name@></p>
          <span>￥<@- item.cash_price@></span>
        </a></li>
      <@ }) @>
    </ul>
  </div>
</script>
<!--渲染秒币商城-->
<script type="text/template" id="ad-coin-store">
  <div class="qb-store-box-img">
    <@ if(obj.ads.length){@>
    <a href="<@- obj.ads[0].id@>">
      <img src="<@- obj.ads[0].adv_code@>" alt="">
    </a>
    <@}@>
  </div>
  <div class="qb-hot-goods-box-content">
    <ul>
      <@ obj.data && _.each(obj.data,function(item){@>
      <li>
        <a href="goodsDetail.html?goods_id=<@- item.id@>">
          <div class="img-box">
            <img src="<@- item.goods_img@>" alt="">
          </div>
          <p><@- item.goods_name@></p>
          <span>M<@- item.coin_price@> <b>秒币</b></span>
        </a></li>
      <@ }) @>
    </ul>
  </div>
</script>
<!--热门推荐-->
<script type="text/template" id="hot-recommend">
  <div class="swiper-slide">
    <ul>
      <@ obj && obj.length && _.each(obj,function(item){@>
      <li>
        <a href="goodsDetail.html?goods_id=<@- item.id@>">
          <div class="img-box">
            <img src="<@- item.goods_img@>" alt="">
          </div>
          <p><@- item.goods_name@></p>
          <span>现金：<b>￥</b><em><@- item.cash_price@></em></span>
          <div class="content-box">
            <span>秒币：<b>M</b><em><@- item.coin_price@></em></span>
            <@ if(item.goods_type==1 || item.goods_type==3){@>
            <b>元</b>
            <@}@>
            <@ if(item.goods_type==2 || item.goods_type==3){@>
            <em>秒</em>
            <@}@>
          </div>
        </a>
      </li>
     <@})@>
    </ul>
  </div>
</script>
</body>
</html>
