<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./common/meta.html',{title:'秒购商城'})%>
  <%-include('./common/polyfill.html')%>
</head>
<body>
<%-include('./common/header.html',{type:'mall'})%>
   <div class="container-950" style="padding-bottom: 0px;">
   <!--搜索模块-->
   <div class="qb-search">
       <div class="qb-search-content">
         <input type="text" placeholder="iphoneX">
         <span>搜索</span>
       </div>
       <div class="qb-search-history">
           <span>4K电视</span>
           <span>笔记本</span>
           <span>母婴用品</span>
           <span>路由器</span>
           <span>耳机</span>
           <span>有限鼠标</span>
           <span>无线鼠标</span>
           <span>显示器</span>
           <span>白酒</span>
           <span>海外面膜进口奶粉</span>
       </div>
   </div>
   <!--菜单模块-->
   <div class="qb-menu clearfix">
        <div class="qb-menu-detail">
          <div class="qb-menu-detail-hide">
            <ul>
              <li>生活</li>
              <li>美味</li>
              <li>母婴</li>
              <li>美丽</li>
              <li>新奇</li>
              <li>健康</li>
              <li>艺术</li>
            </ul>
          </div>
          <div class="qb-menu-detail-show">
            <ul>
              <li>
                <a href="">
                  <div class="img-box">
                    <img src="//img13.360buyimg.com/n7/jfs/t9913/200/2424950357/270172/192bae2b/59f7e438Nf58e088d.jpg" alt="">
                  </div>
                  <span>游戏本</span>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="img-box">
                    <img src="//img13.360buyimg.com/n7/jfs/t9913/200/2424950357/270172/192bae2b/59f7e438Nf58e088d.jpg" alt="">
                  </div>
                  <span>游戏本</span>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="img-box">
                    <img src="//img13.360buyimg.com/n7/jfs/t9913/200/2424950357/270172/192bae2b/59f7e438Nf58e088d.jpg" alt="">
                  </div>
                  <span>游戏本</span>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="img-box">
                    <img src="//img13.360buyimg.com/n7/jfs/t9913/200/2424950357/270172/192bae2b/59f7e438Nf58e088d.jpg" alt="">
                  </div>
                  <span>游戏本</span>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="img-box">
                    <img src="//img13.360buyimg.com/n7/jfs/t9913/200/2424950357/270172/192bae2b/59f7e438Nf58e088d.jpg" alt="">
                  </div>
                  <span>游戏本</span>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="img-box">
                    <img src="//img13.360buyimg.com/n7/jfs/t9913/200/2424950357/270172/192bae2b/59f7e438Nf58e088d.jpg" alt="">
                  </div>
                  <span>游戏本</span>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="img-box">
                    <img src="//img13.360buyimg.com/n7/jfs/t9913/200/2424950357/270172/192bae2b/59f7e438Nf58e088d.jpg" alt="">
                  </div>
                  <span>游戏本</span>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="img-box">
                    <img src="//img13.360buyimg.com/n7/jfs/t9913/200/2424950357/270172/192bae2b/59f7e438Nf58e088d.jpg" alt="">
                  </div>
                  <span>游戏本</span>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="img-box">
                    <img src="//img13.360buyimg.com/n7/jfs/t9913/200/2424950357/270172/192bae2b/59f7e438Nf58e088d.jpg" alt="">
                  </div>
                  <span>游戏本</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="qb-menu-slider">

        </div>
   </div>
   <!--推荐商品模块-->
   <div class="qb-recommend-goods clearfix">
      <!--幻灯-->
     <p class="title"><span>热门商品</span><b>与品质生活不期而遇</b></p>
     <div class="qb-recommend-goods-content clearfix">
       <ul>
         <li>
           <a href="">
             <div class="img-box">
               <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
             </div>
             <p>苹果iphone6S plus苹果iphone6S plus苹果iphone6S plus</p>
             <span>现金：<b>￥</b><em>3888.00</em></span>
             <div class="content-box">
                <span>现金：<b>￥</b><em>3888.00</em></span>
                <b>元</b>
                <em>秒</em>
             </div>
           </a>
         </li>
         <li>
           <a href="">
             <div class="img-box">
               <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
             </div>
             <p>苹果iphone6S plus苹果iphone6S plus苹果iphone6S plus</p>
             <span>现金：<b>￥</b><em>3888.00</em></span>
             <div class="content-box">
               <span>现金：<b>￥</b><em>3888.00</em></span>
               <b>元</b>
               <em>秒</em>
             </div>
           </a>
         </li>
         <li>
           <a href="">
             <div class="img-box">
               <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
             </div>
             <p>苹果iphone6S plus苹果iphone6S plus苹果iphone6S plus</p>
             <span>现金：<b>￥</b><em>3888.00</em></span>
             <div class="content-box">
               <span>现金：<b>￥</b><em>3888.00</em></span>
               <b>元</b>
               <em>秒</em>
             </div>
           </a>
         </li>
         <li>
           <a href="">
             <div class="img-box">
               <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
             </div>
             <p>苹果iphone6S plus苹果iphone6S plus苹果iphone6S plus</p>
             <span>现金：<b>￥</b><em>3888.00</em></span>
             <div class="content-box">
               <span>现金：<b>￥</b><em>3888.00</em></span>
               <b>元</b>
               <em>秒</em>
             </div>
           </a>
         </li>
       </ul>
     </div>
   </div>
   </div>
  <div style="width:100%;background: #f5f5f5;margin-top: 10px;padding-top: 10px;">
    <div class="container-950" style="background: none">
    <!--热门商品-->
    <div class="qb-hot-goods">
      <p class="title"><span>热门商品</span><b>与品质生活不期而遇</b><a href="javascript:;">更多></a></p>
      <div class="qb-hot-goods-box">
        <div class="qb-hot-goods-box-img"><a href=""><img src="https://gw.alicdn.com/tfs/TB1hJ2KX6ihSKJjy0FlXXadEXXa-254-318.png" alt=""></a></div>
        <div class="qb-hot-goods-box-content">
          <ul>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888</span>
              </a></li>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888</span>
              </a></li>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888</span>
              </a></li>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888</span>
              </a></li>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888</span>
              </a></li>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888</span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--秒币商品-->
    <div class="qb-store">
      <p class="title"><span>秒币商品</span><b>更多商品、更多品牌</b><a href="javascript:;">更多></a></p>
      <div class="qb-store-box">
        <div class="qb-store-box-img"><a href=""><img src="https://gw.alicdn.com/tfs/TB1hJ2KX6ihSKJjy0FlXXadEXXa-254-318.png" alt=""></a></div>
        <div class="qb-store-box-content">
          <ul>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888 <b>秒币</b></span>
              </a></li>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888 <b>秒币</b></span>
              </a></li>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888 <b>秒币</b></span>
              </a></li>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888 <b>秒币</b></span>
              </a></li>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888 <b>秒币</b></span>
              </a></li>
            <li>
              <a href="">
                <div class="img-box">
                  <img src="//img11.360buyimg.com/n7/jfs/t5473/194/433600496/117186/65b42954/590006efN73a1346c.jpg" alt="">
                </div>
                <p>暴风魔镜，小D白 智能 VR眼睛 3D头盔</p>
                <span>￥3888 <b>秒币</b></span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</body>
</html>
