<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./common/meta.html',{title:'热门商店'})%>
  <%-include('./common/polyfill.html')%>
</head>
<body>
<%-include('./common/header.html',{type:'mall'})%>
<%
var bread = [
{name:'首页',url:'/'},
{name:'秒购',url:'quickBuy.html'},
{name:'秒币商城',url:''}
]
%>
<%- include('./common/breadcrumb.html',{bread:bread})%>
<div class="container-950" style="padding-bottom: 45px;">
  <!--搜索模块-->
  <div class="qb-menu clearfix">
    <div class="qb-menu-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper js-slider-cot"></div>
        <div class="pagination-ga"></div>
      </div>
    </div>
  </div>
</div>
<div style="width:100%;background: #e4e4e4;padding-top: 10px;">
  <div class="container-950" style="background: none">
    <div class="select-content mall clearfix">
      数据加载中....
    </div>
    <div class="pagination js-pagination"><!-- 这里显示分页 --></div>
  </div>
</div>
<!--渲染轮播图片-->
<script type="text/template" id="ad-item-tpl">
  <@ obj.length && _.each(obj,function(item,index){@>
  <div class="swiper-slide" >
    <a href="goodsDetail.html?goods_id=<@- item.id@>" style="background:<@- item.bg_color@>"><img  src="<@- item.adv_code@>"></a>
  </div>
  <@})@>
</script>

<script type="text/template" id="ad-goods">
  <ul>
    <@ obj.length && _.each(obj,function(item,index){@>
    <li>
      <a href="goodsDetail.html?goods_id=<@- item.id@>" class="goods-style-2">
        <div class="img-box"><img src="<@- item.goods_img@>" alt=""></div>
        <div class="content-box">
          <span class="title"><@- item.goods_name@></span>
          <p><@- item.goods_brief@></p>
          <span class="buy">
                  <b>M</b><@- item.coin_price@>
                  <em>立即购买</em>
               </span>
        </div>
      </a>
    </li>
    <@})@>
  </ul>
</script>
</body>
</html>
