<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./common/meta.html')%>
  <%-include('./common/polyfill.html')%>
</head>
<body>
<%-include('./common/header-login.html')%>
<div class="container-1050">
  <h1 style="margin-bottom: 70px;">注册会员</h1>
  <div class="mz-register-form">
    <!--手机号-->
    <div class="form-group">
      <label>手机号码</label>
      <div class="mz-input" data-error="只能输入11位手机号">
        <input type="text" placeholder="请输入11位手机号码" maxlength="11">
      </div>
    </div>
    <!--验证码滑条-->
    <!--<div></div>-->
    <!--输入验证码-->
    <div class="from-group-code clearfix">
      <div class="mz-input" data-error="只能输入11位手机号">
        <input type="text" placeholder="请输入11位手机号码" maxlength="11">
      </div>
      <div class="mz-sendCode">发送验证码</div>
    </div>
    <!--输入密码-->
    <div class="form-group">
      <div class="mz-input" data-error="只能输入11位手机号">
        <input type="text" placeholder="6-20位密码" maxlength="11">
      </div>
    </div>
    <a class="mz-btn-register" href="javascript:;">注册</a>
  </div>


</div>
</body>
</html>
