.clearfix:before, .clearfix:after {
  display: table;
  content: ""
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,body{
  font-size: 10px !important;
  background: #fff;
  height: 100%;
}
body {
  background-color: #fbf9fe;
}
.clearfix:after {
  clear: both
}

.inputFont {
  font-size: 1.4rem;
}

//公共部分样式
.c-page-padding{
   padding: 0 1rem;
}
/* 覆盖weiUI
---------------------------------------------------------------- */
.weui-btn_primary.login-btn {
  border-radius: 42px;
  background: linear-gradient(to right, @color2, @color1);
}
.weui-btn_primary.login-btn:not(.weui-btn_disabled):active{
  background-color: @color1;
}

.weui-btn_primary.stateCode {
  background: @color2;
}
.weui-btn_primary.stateCode:not(.weui-btn_disabled):active{
  background-color:@color2;
}
.vux-header.searchHead .vux-header-left .left-arrow:before{
  border-color: #fff !important;
}
//白底黑字导航
.whiteHeader .vux-header-left .left-arrow:before{
  border-color: #333 !important;
}
.whiteHeader .vux-header-title{
  color: #333!important;
}
// 渐变导航白字
.colorHeader .vux-header-left .left-arrow:before{
  border-color: #fff !important;
}
// 全部商品页面 重置
.all-body .weui-grid__icon{
  width: 100%;
  height: auto;
}
.all-body .weui-grid:before{
  border: none;
}
.all-body .weui-grid:after{
  border: none;
}
.searchHead .vux-header-title-area{
  margin: 0 50px   !important;
}

.colorHeader .vux-header-title{
margin: 0 50px 0 38px !important;
}
// 重置商品主页vux-label样式
.buy-type .vux-label{
  font-size: 1.4rem !important;
}

/*----------------------------------------------------------------*/
ul {
  list-style: none
}
address, caption, cite, code, dfn, em, b, i, th, var, b, strong {
  font-style: normal;
  font-weight: normal;
}

// 颜色定义
@color1: #ff5300;
@color2: #ff8c00;
@color3: #f20840;
@color4: #484949;
@color5: #c9caca;

/* 场景切换效果
---------------------------------------------------------------- */
.vux-pop-out-enter-active,
.vux-pop-out-leave-active,
.vux-pop-in-enter-active,
.vux-pop-in-leave-active {
  will-change: transform;
  transition: all 500ms;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  /*perspective: 1000;*/
}
.vux-pop-out-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.vux-pop-out-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.vux-pop-in-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.vux-pop-in-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
/* 页面tab样式
---------------------------------------------------------------- */
.main-tabbar{
  .weui-tabbar__item.weui-bar__item_on{
    .weui-tabbar__label{
      color: @color1;
    }
  }
}
.weui-tabbar__icon + .weui-tabbar__label {
  margin-top: 0!important;
}
/* main-header 样式
---------------------------------------------------------------- */
.main-vux-header{
  &.vux-header{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:100;
  }
}
