.clearfix:before, .clearfix:after {
  display: table;
  content: ""
}

.clearfix:after {
  clear: both
}

// 颜色定义
@color1: #ff5300;
@color2: #ff8c00;
@color3: #f20840;
@color4: #484949;
@color5: #c9caca;
