
<!--注册，找回密码头-->
<div class="header-login">
  <div class="pull-left">
    <span class="text-primary" style="font-size: 28px;margin-right:5px;vertical-align: middle;font-weight: bold">秒赞</span>
    <span style="color: #666;vertical-align: middle;">爱生活</span>
    <span style="color: #666;vertical-align: middle;">爱秒赞</span>
    <span class="divide">通行证</span>
  </div>
  <div class="pull-right">
    <span>已有账号，<a href="javascript:;" id="toLogin">马上登录</a></span>
    <span class="divide"><a href="javascript:;">返回秒赞商城</a></span>
  </div>
</div>
