<%
var typeName = typeof type == 'undefined' ? '': type
var isSale = typeof sale == 'undefined' ? false: sale
let activeByType = (type)=>{
  return type === typeName?'active':''
}
%>
<div class="header">
  <div class="main-container">
    <div class="header-icon fl">
      <span class="text-primary">秒赞</span>
      <span class="text-gray">爱生活 爱秒赞</span>
    </div>
    <div class="header-nav justify">
      <div class="header-nav-left">
        <% if(!isSale){ %>
          <a class="link-item <%=activeByType('article')%>" href="article-list.html">
                  <span>
                      秒赞
                  </span>
          </a>
          <a class="link-item <%=activeByType('mall')%>" href="quickBuy.html">
                  <span>
                      秒购
                  </span>
          </a>
          <a class="link-item">
                  <span>
                      秒杀
                  </span>
          </a>
          <a class="link-item">
                  <span>
                      秒筹
                  </span>
          </a>
        <%}else{%>
          <span class="sale">我的收银柜</span>
        <%}%>
      </div>
      <div class="header-nav-right">
        <div class="main-dropdown hover link-item">
            <span class="dropdown-title">
              <span class="dropdown-title-text">我的订单</span>
              <span class="tip-icon"></span>
            </span>
          <ul class="dropdown-list">
            <li><a>订单管理</a></li>
            <li><a>物流信息</a></li>
          </ul>
        </div>
        <div class="main-dropdown hover link-item">
            <span class="dropdown-title">
              <span class="dropdown-title-text">我的会员</span>
              <span class="tip-icon"></span>
            </span>
          <ul class="dropdown-list">
            <li><a href="pc1/set/">会员中心</a></li>
            <li><a href="pc1/order/">订单管理</a></li>
          </ul>
        </div>
        <a class="link-item" href="mall-cart.html">
          <span class="iconfont icon-shopping-cart text-primary" style="margin-right: 5px"></span>
          购物车
          <span class="header-tip-num text-primary">0</span>
        </a>
        <a class="link-item">
          <span class="iconfont icon-app" style="font-size: 20px;position: relative;top: 1px"></span>
          APP
        </a>
        <span class="link-item waitLoad" style="display: none">
            <a id="toLogin" href="javascript:;">登录</a>
            |
            <a href="register.html">注册</a>
        </span>
        <div class="link-item getLoadInfo" style="display: none">
          <div class="link-item loaded">

          </div>
          <a href="link-item" class="message">
            消息 <b style="color: #f63">0</b>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/template" id="tpl-login">
  <span class="name"><@- obj.nickname|| obj.account @></span>
  <div class="module-manager">
  <div class="left"><img src="" alt=""></div>
  <div class="right">
    <p>账号管理 | <span class="outLogin">退出</span></p>
     <p class="fund">公益金：<@- obj.fund@></p></div>
  <a href="pc1/miao_cen/my_fund.html"><span>查看公益金</span></a></div>
</script>

