<div class="header">
    <div class="header-icon fl">
        <span class="text-primary">秒赞</span>
        <span class="text-gray">爱生活 爱秒赞</span>
    </div>
    <div class="header-nav justify">
        <div class="header-nav-left">
            <a class="link-item active">
                <span>
                    秒赞
                </span>
            </a>
            <a class="link-item">
                <span>
                    秒购
                </span>
            </a>
            <a class="link-item">
                <span>
                    秒杀
                </span>
            </a>
            <a class="link-item">
                <span>
                    秒筹
                </span>
            </a>
        </div>
        <div class="header-nav-right">
          <div class="main-dropdown hover link-item">
            <span class="dropdown-title">
              <span class="dropdown-title-text">我的订单</span>
              <i class="tip-icon"></i>
            </span>
            <ul class="dropdown-list">
              <li><a>订单管理</a></li>
              <li><a>订单管理</a></li>
            </ul>
          </div>
          <a class="iconfont icon-zan">个人中心</a>
        </div>
    </div>
</div>
