@import "./common";

/* 通站头部
---------------------------------------------------------------- */
@header-height:80px;
.header{
  height: @header-height;
  line-height: @header-height;
  padding: 0 40px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(200,200,200,.5);
  /*header-icon*/
  &-icon{
    height: @header-height;
    .text-primary{
      font-size: 32px;
      font-weight: bold;
      color: @primary-color;
      vertical-align: middle;
    }
    .text-gray{
      position: relative;
      top: 2px;
      padding: 0 10px;
      color: @text-gray-color;
      vertical-align: middle;
    }
  }
  /* header-nav*/
  &-nav{
    padding-left: 80px;
    font-size: 18px;
  }
  /* header-nav-left */
  &-nav-left{
    .text-left;
    .inline-block;
    .link-item{
      .inline-block;
      line-height: @header-height;
      cursor: pointer;
      padding: 0 30px;
      vertical-align: middle;
      &.active>span{
        color: @primary-color;
        border-bottom: 2px solid @primary-color;
        text-align: center;
        padding-bottom: 2px;
        display: inline-block;
        line-height: 1.8;
      }
      &:hover>span{
        color: @primary-color;
      }
    }
  }
  /* header-nav-right */
  &-nav-right{
    .inline-block;
    .text-left;
  }
}
/* main-dropdown
---------------------------------------------------------------- */
.main-dropdown{
  .inline-block;
  line-height: 1.5;
  position: relative;
  &>.dropdown-list{
    position: absolute;
    top: 100%;
    overflow: hidden;
  }
}
