@import "./share/reset";
@import "./share/iconfont";
@primary-color:#ff5300;
@text-default-color:#3e3a39;
@text-gray-color:#999;
@bg-default-color:#f7f8f8;
@theme-color:@primary-color;
@color-1:@primary-color;
@color-2:#fff3e9;
@color-3:#ffa53a;
@color-4:#ff8c00;
@input-height:40px;
@login-backgroud:#f3f3f3;
@pc-main-width:1200px;
@lg-font-size:18px;
@md-font-size:16px;
@ms-font-size:14px;
@xs-font-size:12px;

@gap-size:20px;
@gap-color:@bg-default-color;
.text-primary{
  color: @primary-color!important;
}
a{
  color: @text-default-color;
}
html,body{
  -webkit-font-smoothing: antialiased;
  color: @text-default-color;
  font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,sans-serif;
  background-color: @bg-default-color;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.inline-block{
  display: inline-block;
}
.justify{
  display: flex;
  justify-content: space-between;
  flex-flow: nowrap;
  align-items: center;
  text-align: justify;
  text-align-last: justify;
  -moz-text-align-last: justify;
  -ms-flex-pack: justify;
}
.text-left{
  text-align: left !important;
  text-align-last: left !important;
  -moz-text-align-last: left !important;
}
.text-center{
  text-align: center !important;
  text-align-last: center !important;
  -moz-text-align-last: center !important;
}
.text-right{
  text-align: right !important;
  text-align-last: right !important;
  -moz-text-align-last: right !important;
}
//定义公共容器
.container-1050,.container-950,.container-1200{
  margin: 0 auto;
  background: #fff;
  margin-top: 35px;
  padding-bottom: 200px;
}
.container-1050{
  width: 1050px;
}
.container-950{
  width: 950px;
}
.container-1200{
  width: 1200px;
}
// 定义公共的group
.form-group{
  font-size: 14px;
  line-height: @input-height;
  label{
    padding: 0 20px;
    display: inline-block;
  }
}



// 通用的字体设置
.font-set(@fontSize:14px,@color:#fff,@lineHeight:70px,@textAlign:left){
  font-size: @fontSize;
  color: @color;
  line-height: @lineHeight;
  text-align: @textAlign;
}

//定义公共的输入框input
.mz-div-input(@width:500px,@bottom:35px){
    display: inline-block;
    width:@width;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 35px;
    input{
      padding-left: 20px;
      border: none;
      width: 90%;
    }
    &.error{
       border-color: @color-3;
       position: relative;
       background: @color-2;
       input{
         background: @color-2;
       }
       &:before{
         position: absolute;
         top: @input-height+2;
         content:attr(data-error);
         display: block;
         .font-set(14px,@color-1,25px)
       }
    }
}


.from-group-code{
  width: 100%;
  .mz-input,.mz-sendCode{
    display: inline-block;
  }
  .mz-input{
    width: 70%;
    float: left;
    line-height: @input-height;
  }
  .mz-sendCode{
    width: 25%;
    float: right;
    background: @color-4;
    .font-set(@lineHeight: 40px,@textAlign: center)
  }
}

.hide{
  display: none;
}

// 登录和注册公共头部
.header-login{
  background: #fff;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  padding: 0 35px;
  .divide{
     &:before{
         content: '';
         display: inline-block;
         width: 1px;
         height: 10px;
         border-left:1px solid #666;
         margin: 0 15px;
     }
  }
  .pull-left{
    float: left;
  }
  .pull-right{
    float: right;
  }
  a{
    color: #f63;
  }
}


/* 通站头部
---------------------------------------------------------------- */
@header-height:80px;
.header{
  position: relative;
  z-index: 2;
  height: @header-height;
  line-height: @header-height;
  min-width: @pc-main-width;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(200,200,200,.5);
  /*header-icon*/
  &-icon{
    height: @header-height;
    .text-primary{
      font-size: 32px;
      font-weight: bold;
      vertical-align: middle;
    }
    .text-gray{
      position: relative;
      top: 2px;
      padding: 0 10px;
      color: @text-gray-color;
      vertical-align: middle;
    }
  }
  /* header-nav*/
  &-nav{
    padding-left: 10px;
  }
  /* header-nav-left */
  &-nav-left{
    .text-left;
    .inline-block;
    .link-item{
      .inline-block;
      line-height: @header-height;
      cursor: pointer;
      padding: 0 24px;
      vertical-align: middle;
      &.active>span{
        color: @primary-color;
        border-bottom: 2px solid @primary-color;
        text-align: center;
        padding-bottom: 2px;
        display: inline-block;
        line-height: 1.8;
      }
      &:hover>span{
        color: @primary-color;
      }
    }
    .sale{
      .inline-block;
      vertical-align: middle;
      color: #666;
      line-height: 19px;
      padding: 0 10px;
      &:before{
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        border-right: 1px solid #666;
        margin-left: -20px;
        margin-right: 8px;
      }
    }
  }
  /* header-nav-right */
  &-nav-right{
    .inline-block;
    .text-left;
    .link-item{
      .inline-block;
      vertical-align: top;
      font-size: 14px;
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
      .iconfont{
        font-size: 18px;
      }
      &.main-dropdown{
        line-height: @header-height - 2px;
      }
    }
    .header-tip-num{
      font-weight: bold;
    }
  }
}
/* main-dropdown
---------------------------------------------------------------- */
.main-dropdown{
  .inline-block;
  position: relative;
  line-height: 1.5;
  .dropdown-title{
    .inline-block;
    padding: 0 10px;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border: 1px solid transparent;
    margin: 0 -1px;
    .tip-icon{
      font-family:"iconfont" !important;
      &:before{
        content: "\e72f";
      }
    }
  }
  &>.dropdown-list{
    position: absolute;
    top: 100%;
    right: -1px;
    height: 0px;
    min-width: 100%;
    overflow: hidden;
    background: #fff;
    line-height: 2;
    margin-top: -1px;
    &>li>a{
      display: block;
      padding:15px;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer;
      &:hover{
        background-color: #f5f5f5;
      }
    }
  }
  &.hover:hover,&.open{
    .dropdown-title{
      border: 1px solid darken(@gap-color,2%);
      border-bottom: none;
    }
    &>.dropdown-list{
      height: auto;
      border: 1px solid darken(@gap-color,2%);
    }
  }
}

.main-container{
  width: @pc-main-width;
  margin: 0 auto;
}

//-------------------定义面包屑--------------
.breadcrumb{
  padding-left: 24px;
  line-height: 60px;
  font-size: 16px;
  background: #efefef;
  a{
    color: #333;
    &:after{
      content: '/';
      margin:0 5px;
    }
    &:last-child:after{
       content: '';
    }
  }
}

/*分页
---------------------------------------------------------------- */
.pagination{
  margin-top: @gap-size;
}
.pagination a {
  text-decoration: none;
  border: 1px solid #AAE;
  color: #15B;
}

.pagination a, .pagination span {
  display: inline-block;
  padding: 0.1em 0.4em;
  margin-right: 5px;
  margin-bottom: 5px;
}

.pagination .current {
  background: #26B;
  color: #fff;
  border: 1px solid #AAE;
}

.pagination .current.prev, .pagination .current.next{
  color:#999;
  border-color:#999;
  background:#fff;
}

//--------------定义验证码--------------
.verify{
  width: 280px;
  height: 40px;
  margin-top: 30px;
  .verify span{
    width: 38px;
    height: 40px;
    font-family: ﻿MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: 0px;
    color: #302f41;
    margin-right: 23px;
  }
  #verify_box{
    width: 240px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color:#fff;
    position: relative;
    background-color: rgba(212, 212, 212, 1);
    top:-40px;
    right:-49px;
  }
  #verify_xbox{
    width: 54px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color:#fff;
    position: absolute;
    background: #7BBB55;
  }
  #btn{
    cursor: pointer;
    width: 54px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px rgba(212, 212, 212, 1);
    float: right;
  }
  .continue{
    width: 120px;
    height: 40px;
    background-color: rgba(212, 212, 212, 1);
    margin: 0 70px;
    border: none;
    color: #302f41;
    font-size: 16px;
  }
  .continue:hover{
    background-color: rgba(235, 54, 38, 1);
    color: #ffffff;
  }
  img {
    max-width: 100%;
  }
}
