@color-1:#ff5300;
body,html{
  height: 100%;
  background: #eee;
}
.container-950{
  background: #eee;
}
.order-title{
  line-height: 80px;
  background: #fff;
  border-bottom: 2px solid @color-1;
  span{
    font-size: 20px;
    margin-left: 65px;
  }
}
.order-cart{
  background: #fff;
  padding: 20px 65px;
  width: 820px;

}
