@qb-color-1: #ff0322;
.mz-sliderBar{
  position: fixed;
  right: 0;
  height: 100%;
  top:0;
  .to-home{
    display: block;
    width: 18px;
    height: 18px;
    background: url(~@/images/login.png) no-repeat;
    background-size: contain;
  }
  .mz-sliderBar-content{
     height: 100%;
     padding: 0 16px;
     background: #ddd;
  }
  li{
     position: relative;
     padding: 10px 0;
     &:before{
       position: absolute;
       content: '';
       width: 30px;
       height: 0;
       border-bottom: 1px solid #e4e4e4;
       bottom: 0;
       left: 50%;
       margin-left: -15px;
     }
  }
  li>span{
    width: 18px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    &:first-child{
      margin-top: 0;
    }

  }
  .toAction{
    display: block;
    line-height: 17px;
    color: #fff;
    text-align: center;
    background: @qb-color-1;
    border-radius: 100%;
  }
  .mz-sliderBar-center{
    position: relative;
    top: 50%;
    margin-top: -100%;
    transform: translateY(-50%);
    margin-top: -100%;
  }
}

.online-phone{
   position: relative;
   b{
     display: block;
     border: 1px solid #e4e4e4;
     padding: 0 5px;
     line-height: 35px;
     color: #333;
     position: absolute;
     left: -128px;
     top: 0;
     opacity: 0;
     transition: all ease-out .3s;
   }
   &:hover{
      b{
        left: -118px;
        opacity: 1;
      }
   }
}

